apiVersion: apps/v1
kind: Deployment
metadata:
  name: frontend
  namespace: igreja-dev
spec:
  replicas: 1
  selector:
    matchLabels:
      app: frontend
  template:
    metadata:
      labels:
        app: frontend
    spec:
      imagePullSecrets:
        - name: ecr-pull-secret
      containers:
        - name: frontend
          image: 112367726434.dkr.ecr.us-east-1.amazonaws.com/igreja-frontend:dev
          ports:
            - containerPort: 80
